/* Tailwind base components and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Danfo';
    src: url('/fonts/Danfo/static/Danfo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
font-family: 'Kalnia Glaze';
src: url('/fonts/Kalnia_Glaze/static/KalniaGlaze-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
    font-family: 'Mirza';
    src: url('/fonts/Mirza/Mirza-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oleo Script';
    src: url('/fonts/Oleo_Script/OleoScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.danfo {font-family: 'Danfo', sans-serif;}

.kalniaGlaze {font-family: 'Kalnia Glaze', sans-serif;}

.mirza {font-family: 'Mirza', sans-serif;}

.oleoScript {font-family: 'Oleo Script', sans-serif;}

main, table {@apply bg-light dark:bg-dark;}

/* Layout */
/* Progress bar entre les pages */
#nprogress .bar {
    background: #EA580C !important;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #EA580C, 0 0 5px #EA580C;
    opacity: 1;
    transform: rotate(3deg) translate(0px, -4px);
}
#nprogress .spinner {display: none; /* Supprime le spinner */ }
 
.flash-success, .flash-error {
    transition: opacity 3s ease-in-out;
    pointer-events: none;
}

.fade-out {opacity: 0;}

/* fin Layout */

.custom-underline {
    text-decoration: underline;
    text-decoration-color: #800064;
    text-underline-offset: 3px;
}

.custom-transparent-pink{background-color: rgba(80, 7, 36, 0.33) !important;}

table tr:hover span, table tr:hover td{
    color: black !important;
}

p, table td {
    @apply text-blue-800 dark:text-blue-400;
    font-family: 'mirza', 'sans-serif'; 
    font-size: 1.15em;
}

h1, h2 {
    font-family: 'Kalnia Glaze', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #68005f;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    animation-name: backInDown;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.25, 0.85, 0.25, 1);
}

h2{
    font-family: 'Kalnia Glaze', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #68005f;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;
}

h3{
    font-family: 'Oleo Script', sans-serif;
    color: #ccc;
}

.parallax {
    background-image: url('/hut.png');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 768px) {
    .parallax-section {
        background-attachment: scroll;
        height: 300px;
    }
}

.open-menu {
    width: 118px;
    position: absolute;
    right: 0;
    top: 56px;
    background-color: rgba(37, 40, 42, 0.66);
    color: #ccc;
    text-align: right;
    z-index: 100;
    border-radius: 2em;
    overflow: hidden;
}

.open-menu a:hover {
    background-color: rgb(203, 108, 0) !important;
    color: rgb(0, 21, 159) !important;
}

a:hover {z-index: 50;}

.active, th, tr:hover{@apply bg-orange-500 dark:bg-orange-600 !important;}

.open-menu .active{background-color: rgba(249, 115, 22, 0.66) !important;}

.btn {
    background-color: #004acb;
    color: #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.25s ease, box-shadow 0.25s ease, color 0.25s ease;
    font-family: mirza;
}

.btn:hover:not(:disabled) {
    color: rgba(89, 233, 0, 0.861);
    background-color: #0056b3;
    box-shadow: 0 2px 4px -1px rgba(244, 155, 0, 0.756);
}

.btn-disabled {
    cursor: not-allowed;
    opacity: 0.75;
    background-color: #4b5563;
    color: #9ca3af;
}
.btn-disabled:hover {
    color: #9ca3af !important;
    background: #595959 !important;
    box-shadow: none !important;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #e0f900 #b07501; /* Couleur de la barre et de la piste */
    user-select: none;
    -webkit-user-drag: none; /* Désactiver le drag pour Safari/Chrome */
    user-drag: none;
}

label {
    @apply text-blue-800 dark:text-[#ccc] font-mirza -mb-1 ml-1 !important;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="file"],
input,
textarea,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    @apply w-full p-3 border-blue-500 dark:border-orange-500 bg-inputsLight dark:bg-inputsDark dark:text-[#ccc] font-semibold rounded-md shadow-sm focus:ring focus:outline-none focus:ring-blue-400 dark:focus:ring-orange-400;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #111827 inset !important;
}

input[type="checkbox"] {
    @apply h-4 w-4 border-orange-500 rounded-full text-blue-500 !important;
}
input[type="checkbox"]:not(:checked) {
    background-color: #bfbfbf !important;
    @apply bg-gray-500 dark:bg-[#111827] focus:ring focus:outline-none focus:ring-blue-400 dark:focus:ring-orange-400 !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {background: #b07501; /* Couleur de la piste (fond) */}
::-webkit-scrollbar-thumb {
    background-color: #e0f900; /* Couleur de la barre */
    border: 2px solid #b07501; /* Optionnel : bordure autour de la barre */
}
::-webkit-scrollbar-thumb:hover {background: #b07501; /* Couleur de la barre au hover */}
input[type="search"] {
    -webkit-appearance: none; /* Enlève l'apparence par défaut sur Chrome */
    border-radius: 20px; /* Arrondir la barre de recherche */
    padding: 10px; /* Ajouter du padding pour un meilleur rendu */
    border: 1px solid #c98600; /* Optionnel : bordure personnalisée */
    outline: none; /* Enlève l'outline par défaut */
    width: 100%; /* Pour remplir l'espace disponible (optionnel) */
    box-sizing: border-box; /* Assure que le padding n'affecte pas la largeur totale */
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none; /* Supprimer le bouton d'annulation par défaut sur Chrome */
}
input[type="search"]:focus {
    border-color: #e0f900; /* Couleur de la bordure au focus */
    box-shadow: 0 0 5px #e0f900; /* Optionnel : ajouter un effet de focus */
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #9ca3af inset !important;
}
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #111827 inset !important;
    -webkit-text-fill-color: #ccc !important;
}

/* footer */
.fade-enter-active, .fade-leave-active {transition: opacity 0.5s ease;}
.fade-enter, .fade-leave-to {opacity: 0;}

footer {
    background: transparent;
    position: fixed;
    bottom: 12px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    @apply text-orange-600;
}

/* Welcome */
.transition-opacity { opacity: 0; }

/* eyes */
.eyes-container {
    position: absolute;
    z-index: 5;
    top: 10px;
    right: 8px;
}
@property --eyelid {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}
@property --eyelid2 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}
.eyes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    div {
        position: relative;
        width: 34px;
        aspect-ratio: 1.3;
        background: white;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before,&:after {
            content: '';
            position: absolute;
            width: 110%;
            height: 300%;
            left: 50%;
            animation: eyelid 6s ease-in-out infinite;
            z-index: 1;
        }
        &:before {
            top: 0;
            border-radius: 0% 0% 40% 40%;
            transform: translateY(var(--eyelid)) translateX(-50%);
            border-bottom: 40px solid #141a23;
        }
        &:after {
            bottom: 0;
            border-radius: 40% 40% 0% 0%;
            transform: translateY(var(--eyelid2)) translateX(-50%);
            border-top: 40px solid #141a23;
        }
        i {
            position: absolute;
            width: 22px;
            aspect-ratio: inherit;
            background: #EA580C;
            border-radius: inherit;
        }
    }
}
@keyframes eyelid {
    0% {
        --eyelid: -50%;
        --eyelid2: 50%;
    }
    3% {
        --eyelid: 0%;
        --eyelid2: 0%;
    }
    6% {
        --eyelid: -50%;
        --eyelid2: 50%;
    }
    9%,100% {
        --eyelid: 0%;
        --eyelid2: 0%;
    }
}
/* fin Welcome */


/* gallery */
.gallery img {transition: transform 0.6s ease;}


/* Book */
.option_hover {transition: transform 0.3s ease;}
.option_hover:hover {transform: scale(1.02);}

.one-column .option_hover {transform-origin: center;}

.two-columns .option_hover:nth-child(even) {transform-origin: right;}

.two-columns .option_hover:nth-child(odd) {transform-origin: left;}

.three-columns .option_hover:nth-child(3n + 1) {transform-origin: left;}

.three-columns .option_hover:nth-child(3n + 2) {transform-origin: center;}

.three-columns .option_hover:nth-child(3n) {transform-origin: right;}

.vuecal__cell-date {
  color: white;
  background: blue;
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.1rem;
  font-family: 'Lucida Handwriting', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 550;
}
.vuecal__cell--before-min .vuecal__cell-content .vuecal__cell-date{
  color: #ccc; 
  background: rgb(144, 0, 0);
  font-weight: 400;
  font-size: 1rem;
}

.selected-range {
  background: rgba(0, 150, 136, 0.8);
  border: 3px solid #009688;
  color: rgb(104, 252, 104);
}

/* .vuecal__cell-events-count{display: none;} */
/* .vuecal__cell--selected {;} */
/* .vuecal__cell--out-of-scope{;} */
/* .vuecal__cell--disabled {;} */

/* fin Book */
