/* Tailwind base components and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Danfo';
    src: url('/fonts/Danfo/static/Danfo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
font-family: 'Kalnia Glaze';
src: url('/fonts/Kalnia_Glaze/static/KalniaGlaze-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
    font-family: 'Mirza';
    src: url('/fonts/Mirza/Mirza-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oleo Script';
    src: url('/fonts/Oleo_Script/OleoScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.danfo {font-family: 'Danfo', sans-serif;}

.kalniaGlaze {font-family: 'Kalnia Glaze', sans-serif;}

.mirza {font-family: 'Mirza', sans-serif;}

.oleoScript {font-family: 'Oleo Script', sans-serif;}

body {@apply bg-htmlLightBg dark:bg-htmlDarkBg;}

table{@apply bg-light dark:bg-dark;}

table tr:hover span, table tr:hover td{
    color: black !important;
}

p, table td {
    @apply text-blue-800 dark:text-blue-400;
    font-family: 'mirza', 'sans-serif'; 
    font-size: 1.15em;
}

h1 {
    font-family: 'Kalnia Glaze', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #68005f;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

h2{
    font-family: 'Kalnia Glaze', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #68005f;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;
}

h3{
    font-family: 'Oleo Script', sans-serif;
    color: #ccc;
}

.open-menu {
    width: 118px;
    position: absolute;
    right: 0;
    top: 56px;
    background-color: rgba(37, 40, 42, 0.66);
    color: #ccc;
    text-align: right;
    z-index: 100;
    border-radius: 2em;
    overflow: hidden;
}

.open-menu a:hover {
    background-color: rgb(203, 108, 0) !important;
    color: rgb(0, 21, 159) !important;
}

a:hover {z-index: 50;}

.active, th, tr:hover{@apply bg-orange-500 dark:bg-orange-600 !important;}

.open-menu .active{background-color: rgba(249, 115, 22, 0.66) !important;}

.btn {
    background-color: #004acb;
    color: #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.25s ease, box-shadow 0.25s ease, color 0.25s ease;
    font-family: mirza;
}

.btn:hover{color: #0cff00;}

.btn:hover:not(:disabled) {
    background-color: #0056b3;
    box-shadow: 0 2px 4px -1px rgba(244, 155, 0, 0.756);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #e0f900 #b07501; /* Couleur de la barre et de la piste */
    user-select: none;
    -webkit-user-drag: none; /* Désactiver le drag pour Safari/Chrome */
    user-drag: none;
}

input, textarea {
    @apply w-full p-2 border border-orange-500 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-300 dark:bg-dark dark:text-white;
}

label {
    @apply text-blue-500 dark:text-blue-200 font-mirza;
}

input[type="checkbox"] {
    @apply h-4 w-4 border-orange-500 rounded;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {background: #b07501; /* Couleur de la piste (fond) */}
::-webkit-scrollbar-thumb {
    background-color: #e0f900; /* Couleur de la barre */
    border: 2px solid #b07501; /* Optionnel : bordure autour de la barre */
}
::-webkit-scrollbar-thumb:hover {background: #b07501; /* Couleur de la barre au hover */}
input[type="search"] {
    -webkit-appearance: none; /* Enlève l'apparence par défaut sur Chrome */
    border-radius: 20px; /* Arrondir la barre de recherche */
    padding: 10px; /* Ajouter du padding pour un meilleur rendu */
    border: 1px solid #c98600; /* Optionnel : bordure personnalisée */
    outline: none; /* Enlève l'outline par défaut */
    width: 100%; /* Pour remplir l'espace disponible (optionnel) */
    box-sizing: border-box; /* Assure que le padding n'affecte pas la largeur totale */
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none; /* Supprimer le bouton d'annulation par défaut sur Chrome */
}
input[type="search"]:focus {
    border-color: #e0f900; /* Couleur de la bordure au focus */
    box-shadow: 0 0 5px #e0f900; /* Optionnel : ajouter un effet de focus */
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #9ca3af inset !important;
}
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #111827 inset !important;
    -webkit-text-fill-color: #ccc !important;
}
textarea{background:rgb(156, 163, 175); font-weight: 600;}
.dark textarea{background:#111827; color: #ccc;}

/* footer */
.fade-enter-active, .fade-leave-active {transition: opacity 0.5s ease;}
.fade-enter, .fade-leave-to {opacity: 0;}

footer {
    background: transparent;
    position: fixed;
    bottom: 12px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    @apply text-orange-600;
}
